@model IEnumerable<ASPCoreSample.Models.Falls>

@{
    ViewData["Title"] = "Index";
}


<h2 class="active">Water Falls</h2>

<p>
    @*<a asp-action="Create">Add Water Fall  <i class="fa fa-plus" aria-hidden="true"></i></a>*@
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.open_to_public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confirmed_date)
            </th>
        </tr>
     </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong> @Html.DisplayFor(modelItem => item.name) </strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.open_to_public)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.confirmed_date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.id" onclick="return confirm('Are sure wants to delete?');"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
</table>
